.App {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: black;
}
.image {
  max-width: 250px;
  max-height: 200px;
  padding: 1rem;
  border-radius: 1.5rem;
}

.name {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}
.description {
  padding: 1rem;
  font-size: 0.9rem;
}
